// Color Variables
$primary-color: #14af4a;
$text-color: #fff;
$text-color-light: #999;
$body-color: #000;
$border-color: #555;
$dark: #0f0f0f;
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Roboto", sans-serif;
$icon-font: "themify";
